target/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

*.iml
.idea/

*.log
flyway.conf